---
import NavBar from "../components/NavBar.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
    <section>
        <NavBar />
    </section>

    <main>
        <div class="w-full bg-green-900 h-30 flex justify-center items-center">
            <h1 class="text-amber-50 text-5xl font-extrabold">
                Experiencia Starbucks
            </h1>
        </div>

        
        <strong class="flex justify-end-safe mt-10 place-self-center w-180 text-3xl">
            Para cada momento hay una forma de vivir la Experiencia Starbucks
            como vos quieras.
        </strong>
    </main>
</Layout>
